<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-user-tie me-2"></i>empleados</h4>
            </nav>
            <div class="container mt-3">                
                <a th:href="@{/empleado/add}" class="btn btn-danger mb-4">
                    <strong class="me-2">Add</strong><i class="fa-solid fa-angle-right"></i>
                </a>
                <div class="row">
                    <div class="col">
                        <table class="table table-dark" id="tablita">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">NOMBREs</th>
                                    <th scope="col">APELLIDOS</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col" colspan="2" class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">ACCION</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr th:each="em:${empleados}">
                                    <td scope="row" th:text="${em.id}"></td>
                                    <td th:text="${em.nombres}"></td>
                                    <td th:text="${em.apellidos}"></td>
                                    <td th:text="${em.dni}"></td>
                                    <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                                    
                                        <a th:href="@{/empleado/edit/} + ${em.id}" title="Editar Registro"><i class='fa-solid fa-pen-to-square text-warning me-3'></i></a>
                                        <a th:href="@{/empleado/delete/} + ${em.id}" title="Eliminar Registro"><i class='fa-solid fa-trash-can text-danger me-3'></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
         </div>
            </div>
        <!--OTRO SCRIPTS PARA PAGINAS-->
        <th:block layout:fragment="page-scripts">

        </th:block>

        </body>
        </html>