<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-trash-can me-2"></i>VENTAS</h4>
            </nav>
            <div class="container mt-3">
                <h3 th:text="${titulo}"></h3>
                <hr>
                <form th:action="@{/venta/save}" method="post" enctype="multipart/form-data" th:object="${venta}">    
                    
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Fecha:</label>
                        <input type="date" id="start" name="trip-start"th:field="*{fecha}"
                               value="2022-07-22"
                               min="2022-01-01" max="2023-12-31">
                        
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}"
                               th:errors="*{fecha}"></small>
                    </div>
                    <div class="mb-3">                        
                        <label for="recipient-name" class="col-form-label">empleado:</label>
                        <select th:field="*{empleado}" id="empleado" class="form-select">
                            <option th:each="em:${empleados}" th:value="${em.id}" th:text="${em.nombres}+' '+${em.apellidos}"></option>
                        </select>
                    </div>
                                        
                    <div class="mb-3">                        
                        <label for="recipient-name" class="col-form-label">clientes:</label>
                        <select th:field="*{cliente}" id="cliente" class="form-select">
                            <option th:each="cl:${clientes}" th:value="${cl.id}" th:text="${cl.nombres}"></option>
                        </select>
                    </div>
                          

                    <a th:href="@{/venta}" class="btn btn-secondary" >Cancel</a>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
         </div>
        <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">

    </th:block>
    </body>
</html>